body {
    background-color: whitesmoke !important;
    /*margin : 10px 10px 10px 10px !important;*/
	height:100% !important;
	/*position:relative;*/
	overflow: hidden !important;
}

footer {
    position: absolute;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background-color: #636a63;
    height: 30px !important;
    color: white;

}

.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}

 /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  background-color:whitesmoke;
}

ul.nav-pills {
  top: 75px !important;
  position: fixed !important;
}
  
div .col-xs-12 .col-sm-10 .ol-md-10 .col-lg-10 div{
  height: 250px !important;
}

/*----------------- class ajoutées manuellement-------------------*/
.menu-horizontal2 {
    position: absolute !important;
    top: 55px !important;
    bottom: 0px !important;
    display: inline-block !important;
}

.center-navbar {
width: 100% !important;
text-align: center !important;
}
.center-navbar > li {
float: none !important;
display: inline-block !important;
}

html body .container-fluid.divPrincipale {
    position: absolute !important;
    top: 80px !important;
    bottom: 30px !important;
    right: 0 !important;
    left: 0 !important;
    overflow-y: auto !important;
}



.no-pad{
	    padding:0 0 0 0 !important;
}
.no-padding > [class*='col-'] {
    padding-right:0 !important;
    padding-left:0 !important;
}
.no-margin-bottom{
    margin-bottom:-10px !important;
}
.margin-bottom-10 {
	margin-bottom: 15px !important;
}

/*
  #Films {color: #fff; background-color: #1E88E5;}
  #Sport{color: #fff; background-color: #673ab7;}
  #Musique{color: #fff; background-color: #ff9800;}
  #Actualites {color: #fff; background-color: #00bcd4;}
  #Populaire{color: #fff; background-color: #009688;}
*/
/*
.align-center {
    text-align: center;
    margin: 0 auto;
    width: inherit;
    display:inline-block;
    float: none;
    width: inherit;
}*/
